version: "3.4"

services:
  app:
    container_name: react-electron-app
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./src:/app/src
    ports:
      - 3000:3000
    command: npm start
    restart: unless-stopped